.main {
  background: url("/assets/destination/background-destination-desktop.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .main {
    background: url("/assets/destination/background-destination-tablet.jpg")
      no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 480px) {
  .main {
    background: url("/assets/destination/background-destination-mobile.jpg")
      no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.container {
  width: 100%;
  height: 80%;
  /* padding: 0 6% 0 6%; */
}

.container > h3 {
  font-family: var(--barlowCondensed-font);
  letter-spacing: 4px;
}

.contentNav {
  font-family: var(--barlowCondensed-font);
  letter-spacing: 2px;
}

.contentInfos h1 {
  font-family: var(--bellefair-font);
}

.contentInfos small {
  font-family: var(--barlowCondensed-font);
  letter-spacing: 2px;
}
.contentInfos h4 {
  font-family: var(--bellefair-font);
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0.5;
  }

  50% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse ease-in-out 0.5s;
}
